.tableContainer {
  padding: 8px;
}

.heading {
  font-size: 16px;
  font-family: sans-serif;
  color: #343a40;
}

.headerTable {
  width: 100%;
  margin-top: 8px;
  border-collapse: collapse;
}
.contentTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 12px;
  color: #6c757d;
  font-family: sans-serif;
  font-size: 0.84rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
}

.header {
  font-family: sans-serif;
  font-size: 0.84rem;
  color: #6c757d;
  background-color: #f3f7f9;
  border-color: #dee2e6;
  height: 30px;
  vertical-align: middle;
  text-align: center;
}

.projectName {
  width: 25%;
  text-align: center;
}
.startDate {
  width: 12%;
  text-align: center;
}
.dueDate {
  width: 12%;
  text-align: center;
}
.team {
  width: 12%;
  text-align: center;
}
.status {
  width: 19%;
  text-align: center;
}
.client {
  width: 20%;
  text-align: center;
}
