.tableContainer {
  padding: 16px;
}

.heading {
  font-size: 16px;
  color: #343a40;
}

.headerTable {
  width: 100%;
  margin-top: 8px;
  border-collapse: collapse;
}
.contentTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  color: #6c757d;
  font-size: 0.84rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: left;
}

.header {
  font-size: 0.84rem;
  color: #6c757d;
  background-color: #f3f7f9;
  border-color: #dee2e6;
  height: 30px;
  vertical-align: middle;
  text-align: center;
}

.projectName {
  width: 25%;
  padding: 8px 0px;
  text-align: left;
  padding-left: 8px;
}
.startDate {
  width: 12%;

  text-align: left;
}
.dueDate {
  width: 12%;
  text-align: left;
}
.team {
  width: 12%;
  text-align: left;
}
.status {
  width: 19%;
  text-align: left;
}
.client {
  width: 20%;
  text-align: left;
}

.imageGroup {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  float: left;
}
.imageGroup > img {
  place-items: center;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.imageGroup > img:nth-child(n) {
  margin-left: -10px;
}
