::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d1d6db;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a4a8ac;
  border-radius: 3px;
}

.sideBar {
  position: fixed;
  bottom: 0;
  width: 300px;
  height: calc(100vh - 60px);
  background-color: #f5f7fb;
  border-radius: 8px;
}

.sideBarWrapper {
  position: relative;
  background-color: white;
  width: calc(300px - 36px);
  height: calc(100% - 60px);
  margin-top: 30px;
  margin-left: 36px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 8px;

  &:hover {
    overflow-y: overlay;
  }
}

.profileWrapper {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
.profileImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 16px;
}
.profileName {
  font-size: 15px;
  font-weight: normal;
  color: #323a43;
  padding-top: 8px;
  cursor: pointer;
  &:hover {
    color: #121519;
  }
}

.profileDesignation {
  font-size: 13px;
  color: #98a6ad;
  padding-top: 6px;
}

.label {
  color: #757d94;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 12px;
}

.contentContainer {
  padding: 24px 24px 0 24px;
}
.dashBoardContainer {
  padding-top: 12px;
}

.dashBoardHeader {
  padding: 8px 0px;

  width: 100%;
  transition: all 0.4s;
  font-size: 14.2px;
  cursor: pointer;
  color: #4a81d4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashBoard {
  padding: 8px 32px;
  color: #6e768e;
  width: 100%;
  transition: all 0.4s;
  font-size: 13.5px;
  cursor: pointer;

  &:hover {
    color: #4a81d4;
  }
  &:active {
    color: #4a81d4;
  }
}

.dashboardHeading {
  padding-left: 16px;
  padding-top: 2px;
}

.dashBoardCount {
  color: white;
  background-color: #11ca6d;
  padding: 0 6px;
  font-size: 75%;
  border-radius: 8px;
}

.displayFlex {
  display: flex;
  align-items: center;
}

.optionWrapper {
  padding-top: 24px;
}

.optionContainer {
  padding: 8px 0px;
  width: 100%;
  transition: all 0.4s;
  font-size: 14.2px;
  cursor: pointer;
  transition: all 2s linear;
  animation: slide-down 0.3s ease-out;
  -webkit-animation: slide-down 0.3s ease-out;
  -moz-animation: slide-down 0.3s ease-out;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #6e768e;

  cursor: pointer;

  &:hover {
    color: #4a81d4;
  }
  &:active {
    color: #4a81d4;
  }
  &:focus {
    color: #4a81d4;
  }
}
.activeOptionContainer {
  color: #4a81d4;
}

.arrowIcon {
  padding-right: 6px;
}

.hot1 {
  color: white;
  background-color: #ed71a7;
  padding: 1px 6px;
  font-size: 75%;
  border-radius: 2px;
  font-weight: bold;
}
.hot2 {
  color: white;
  background-color: #47bfe5;
  padding: 1px 6px;
  font-size: 75%;
  border-radius: 2px;
  font-weight: bold;
}
.new {
  color: white;
  background-color: #4a81d4;
  padding: 1px 6px;
  font-size: 75%;
  border-radius: 2px;
  font-weight: bold;
}

.collapsibleOptionContainer {
  font-size: 13.2px;
  color: inherit;
  color: #6e768e;
  transition: all 2s linear;
  animation: slide-down 0.3s ease-out;
  -webkit-animation: slide-down 0.3s ease-out;
  -moz-animation: slide-down 0.3s ease-out;
}
.collapsibleOption {
  padding: 8px 0px 8px 32px;
  cursor: pointer;

  &:hover {
    color: #4a81d4;
  }
  &:active {
    color: #4a81d4;
  }
  &:focus {
    color: #4a81d4;
  }
}
