.heading {
  font-size: 1.3rem;
  color: #313131;
  background-color: #f5f7fb;
  font-weight: 500;
  padding-left: 40px;
  padding-top: 30px;
}
.closeIcon {
  cursor: pointer;
  padding-left: 8px;
}

.graphHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin: 0px 0px 30px 15px;
  color: rgb(59, 59, 59);
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #f5f7fb;
}

.smallDiv {
  width: 20.5%;
  height: 10vh;
  border-radius: 8px;
}

.largeDiv {
  width: 28.33%;
  height: 450px;
  padding: 15px;
  border-radius: 8px;
}

.largestDiv {
  width: 93%;
  height: fit-content;
  border-radius: 8px;
}

body {
  background-color: #f5f7fb;
  font-family: Rubik, sans-serif;
}

div {
  background-color: white;
}

.container {
  display: flex;
  width: 100%;
  height: fit-content;
  margin-top: 10px;
}

.contentContainer {
  background-color: #f5f7fb;
  display: block;
  position: absolute;
  right: 0;
  width: calc(100% - 300px);
  margin-top: 20px;
  padding-top: 30px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px 24px 24px;
  width: 92%;
  color: #98a6ad;
  font-size: 0.84rem;
  background-color: #ecf0f7 !important;
}

.footerContent {
  margin-right: 24px;
}

@media only screen and (max-width: 1200px) {
  //tablet
  .row {
    padding-left: 50px;
    width: 90%;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .smallDiv {
    margin-top: 60px;
    width: 85%;
  }
  .largeDiv {
    margin-top: 30px;
    width: 80%;
  }
  .largestDiv {
    width: 90%;
  }
}
// @media only screen and (min-width: 600px) {
//   //mobile
//   .row {
//     flex-direction: column;
//   }
// }
