.heading {
  font-size: 1.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #313131;
  background-color: #f5f7fb;
  font-weight: 500;
  padding-left: 40px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #f5f7fb;
}

.smallDiv {
  width: 20.5%;
  height: 10vh;
}

.largeDiv {
  width: 28.33%;

  height: 450px;
  padding: 15px;
}

.largestDiv {
  width: 93%;
  height: fit-content;
}

body {
  background-color: #e7e7e7;
}

div {
  background-color: white;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sideBar {
  width: 10%;
  height: 100%;
}

.contentContainer {
  display: block;
  width: 90%;
  margin: 20px;
  padding-top: 50px;
}

.sideBarContainer {
  display: flex;
  width: 10%;
  height: 100vh;
}
