.heading {
  font-size: 1.3rem;
  color: #313131;
  background-color: #f5f7fb;
  font-weight: 500;
  padding-left: 40px;
  padding-top: 30px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #f5f7fb;
}

.smallDiv {
  width: 20.5%;
  height: 10vh;
  border-radius: 8px;
}

.largeDiv {
  width: 28.33%;
  height: 450px;
  padding: 15px;
  border-radius: 8px;
}

.largestDiv {
  width: 93%;
  height: fit-content;
  border-radius: 8px;
}

body {
  background-color: #f5f7fb;
  font-family: Rubik, sans-serif;
}

div {
  background-color: white;
}

.container {
  display: flex;
  width: 100%;
  height: fit-content;
}

.contentContainer {
  display: block;
  position: absolute;
  right: 0;
  width: calc(100% - 300px);
  margin-top: 20px;
  padding-top: 30px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px 24px 24px;
  width: 92%;
  color: #98a6ad;
  font-size: 0.84rem;
  background-color: #ecf0f7 !important;
}

.footerContent {
  margin-right: 24px;
}
